Source: bm
Section: devel
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Build-Depends: automake,
               cmake,
               curl,
               debhelper (>= 12),
               dh-python,
               git,
               libboost-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libgmp-dev,
               libgrpc++-dev,
               libgrpc-dev,
               libjudy-dev,
               libnanomsg-dev,
               libnanomsg5,
               libpcap-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libssl-dev,
               libthrift-0.13.0,
               libthrift-dev,
               libtool,
               pkg-config,
               protobuf-compiler,
               protobuf-compiler-grpc,
               python3-all,
               python3-six,
               python3-thrift,
               thrift-compiler
Standards-Version: 4.5.1.0
Rules-Requires-Root: no
Homepage: https://github.com/simula/behavioral-model
Vcs-Git: https://github.com/simula/behavioral-model
Vcs-Browser: https://github.com/simula/behavioral-model/tree/p4-packaging

Package: bm
Architecture: any
Depends: libboost-dev,
         libboost-filesystem-dev,
         libboost-program-options-dev,
         libboost-system-dev,
         libboost-thread-dev,
         libgmp-dev,
         libgrpc++-dev,
         libgrpc-dev,
         libjudy-dev,
         libnanomsg-dev,
         libnanomsg5,
         libpcap-dev,
         libprotobuf-dev,
         libprotoc-dev,
         libssl-dev,
         libthrift-0.13.0,
         libthrift-dev,
         libtool,
         pkg-config,
         protobuf-compiler,
         protobuf-compiler-grpc,
         python3-all,
         thrift-compiler,
         ${misc:Depends},
         ${shlibs:Depends}
Description: p4lang behavioral-model
 This is the second version of the P4 software switch (aka behavioral model),
 nicknamed bmv2. It is meant to replace the original version, p4c-behavioral,
 in the long run, although we do not have feature equivalence yet.
 Unlike p4c-behavioral, this new version is static
 (i.e. we do not need to auto-generate new code and recompile every time
 a modification is done to the P4 program) and written in C++11.
 For information on why we decided to write a new version of the behavioral
 model, please look at the FAQ below.
 .
 This repository contains code for several variations of the behavioral model,
 e.g. simple_switch, simple_switch_grpc, psa_switch, etc.
 See here for more details on the differences between these.
